body {
    background-color: rgb(255, 255, 165);
}

.image{
    border: 5px solid rosybrown;
    border-radius: 15px;
    height: 400px;
}

.link-button {
    text-decoration: none;
    color: rgb(0, 0, 0);
    border: 5px solid rgb(150, 17, 123);
    background-color: #b529c27e;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 2px 3px #888888;
}

p {
color:rosybrown;
font-family:Verdana, Geneva, Tahoma, sans-serif;
font-size: x-large;
}

.texto, h1 {
    color: #fff;
    text-shadow:
        0 0 5px #040404,
        0 0 10px rgb(10, 9, 10),
        0 0 20px rgb(23, 19, 23),
        0 0 30px rgb(17, 14, 17),
        0 0 40px rgb(34, 25, 34),
        0 0 50px #f0f,
        0 0 60px #f0f;
}

    h3 {
        position:static;
        color:rosybrown;
        width: 10%;
        height: 50px;
        transform-origin: bottom right;
        transition: transform 10s ease-out;
    }

    .contenido {
        animation: bounce 1s infinite;
    }
    
    @keyframes bounce {
        0%, 100% {
            transform: translateY(0);
        }
        50% {
            transform: translateY(-10px);
        }
    }  
