body {
    background-color: white;
}

.image{
    border: 5px solid rgb(128, 0, 122);
    border-radius: 10px;
    height: 400px;
}

.link-button {
    text-decoration: none;
    color: black;
    border: 1px solid gray;
    background-color: #f2f2f2;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 2px 3px #888888;
}

.one{
    color:blue;
    background-color: rgb(255, 255, 255);
    text-align: center;
    font-size: 60px;
}

.two{
    color: blue ;
    font-size: 30px;
}

.image1{
    align-items: center;
}