body {
    background-color: rgb(50, 56, 71);
}

.image{
    height: 300px
}

.link-button {
    text-decoration: none;
    color: black;
    border: 1px solid gray;
    background-color: #f2f2f2;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 2px 3px #888888;
}

.one{
    color:blue;
    background-color: rgb(255, 255, 255);
    text-align: center;
    font-size: 60px;
}

.two{
    color: blue ;
    font-size: 30px;
}

.img1{
    text-align: center;
}

.two{
    text-align: center;
}

.p1{
    text-align: center;
}

div.button{
    text-align: center;
} 